@import url(normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    color: var(--text);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --body: #FAFAFA;
    --div: #FFFFFF;
    --red: #EA5454;
    --cyan: #44D3D2;
    --blue: #549EF2;
    --yellow: #FCAE4A;
    --text: #4D4F62;
    --shadow: rgba(131, 166, 210, .5);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--body);
}

div {
    background-color: var(--div);
    padding: 32px;
    border-top: 4px solid;
    border-radius: 8px;
    width: 350px;
    box-shadow: 0px 15px 30px var(--shadow);
    display: flex;
    flex-direction: column;
    min-height: 250px;
}

main {
    position: relative;
    width: 80%;
    height: 530px;
}

.supervisor {
    position: absolute;
    top: 20%;
    left: 14%;
    border-color: var(--cyan);
}

.team-builder {
    position: absolute;
    top: -8%;
    left: 39%;
    border-color: var(--red);
}

.karma {
    position: absolute;
    top: 48%;
    left: 39%;
    border-color: var(--yellow);
}

.calculator {
    position: absolute;
    top: 20%;
    right: 13%;
    border-color: var(--blue);
}

h1 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
}

p {
    line-height: 23px;
    letter-spacing: 0.09px;
    font-weight: normal;
    font-size: 13px;
    opacity: 50%;
    margin-bottom: 40px;
}

img {
    width: 64px;
    height: 64px;
    align-self: flex-end;
}